@media(max-width: 600px){
    .footer{
        width: 100%;
        height: 117px;
        background-color: var(--color-blue);
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-top: 1px solid #9EADBA;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .footer h4{
        color: var(--color-text);
        font-size: 24px;
        font-weight: 400;
        margin-left: 14px;
        margin-bottom: 8px;
        flex-wrap: wrap;
    }

    .footer .movie-resume{
        width: 64px;
        height: 89px;
        margin: 0;
    }

    .footer .movie-resume img{
        width: 48px;
        height: 72px;
    }

    .movie-resume{
        width: 64px;
        height: 89px;
        border-radius: 5px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }

}